beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.5
dill==0.3.7
idna==3.6
lxml==4.9.3
multiprocess==0.70.15
pathos==0.3.1
pox==0.3.3
ppft==1.7.6.7
pycparser==2.21
PyExecJS==1.5.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
tqdm==4.66.1
translators==5.8.9
urllib3==2.1.0
